.MenuCollpapse {
    background-color: black;
    color: rgba(232, 218, 218, 0.722);
    grid-template-rows: 0.5fr 9.19fr 0.3fr;
    padding: 10px 10px 10px 10px; 
    display: grid;
    gap: 10px;
}

.MenuCollpapseFooter{
    display: grid;
    grid-template-columns:2.5fr 0.5fr ; /* 1fr para la columna de la lista de notas, 2fr para la columna de la nota seleccionada */
    gap: 10px; /* Espacio entre las columnas */
    grid-row: 3/3;
  }

